/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# My Normalize
# Typography - Include Font
# Mixin
# Top menu
# Home page
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
            # My Normalize
--------------------------------------------------------------*/
* {
    line-height: 1.5;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    overflow-x: hidden;
}
body {
    background-color: #fff;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img {
    max-width: 100%;
}
figure {
    margin: 0;
}
address {
    font-style: normal;
}
/*--------------------------------------------------------------
            # Typography - Include Font
--------------------------------------------------------------*/
@font-face {
    /*font-family: 'Roboto';*/
    /*font-style: normal;*/
    /*font-weight: 100;*/
    /*src: url(../font/roboto/Roboto-Thin.ttf) format('truetype');*/
}

/*--------------------------------------------------------------
            # Top menu
--------------------------------------------------------------*/
.main-menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.logo {
    width: 250px;
    height: 250px;
    position: relative;
    transition-timing-function: cubic-bezier(.83, .06, .22, 1.04);
}
.logo__img {
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------------
            # Mixin
--------------------------------------------------------------*/
.container {
    width: 100%;
    height: auto;
    padding: 180px 8%;
}
.container__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}
.container__description {
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.content__title {
    font-size: 60px;
    color: #444;
}

.content__title::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #444;
    position: relative;
    transform: translateY(20px);
}

.content__text {
    font-size: 14px;
    color: #444;
}

.btn-wrapp {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.button {
    padding: 10px 30px;
    background-color: #5e8959;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

/*--------------------------------------------------------------
            # Home page
--------------------------------------------------------------*/
/* Начало - Первый блок со слайдером*/
.head-page-slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.slide-item {
    width: 100%;
    height: 100vh;
}
.slide__content {
    width: 50vw;
    z-index: 2;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.slide__title-page {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.slide__text {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.slide {
    width: 115%;
    height: 115vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -5vh;
    left: -5vw;
}
.slide-item:nth-of-type(1) .slide {
    background-image: url('../img/smooth.jpg');
    z-index: 1;
}

/* Конец - Первый блок со слайдером*/

/* Начало - Блок Кто мы*/
.who-we-are {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background-color: #fff;
    padding-top: 250px;
    padding-bottom: 80px;
}

.who-we-are .img-container {
    width: 50%;
    height: 550px;
    position: relative;
    z-index: 2;
}

.who-we-are .bg-img--1 {
    width: 100%;
    height: 60%;
    background-image: url('../img/bg_2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.who-we-are .bg-img--2 {
    width: 80%;
    height: 50%;
    background-image: url('../img/bg_1.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 160px;
    right: -40px;
}

.who-we-are .wrap {
    position: relative;
    width: 50%;
    height: auto;
}

.who-we-are .content {
    width: 60%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(35%);
    z-index: 1;
}

.who-we-are .bg-parallax {
    display: block;
    width: 60vw;
    height: 550px;
    background-color: #ebf3ff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-15%);
    z-index: -1;
}

.who-we-are .content__title {
    margin: 0 0 60px 0;
}

.who-we-are .content__text {
    margin: 0 0 30px 0;
}

/* Конец - Блок Кто мы*/

/* Начало - Блок Что мы делаем*/
.what-we-do {
    background-color: #fff;
    position: relative;
    z-index: 10;
}

/* Конец - Блок Что мы делаем*/

/* Начало - Блок призыв к действию*/
.action-block {
    width: 100%;
    height: auto;
    background-image: url('../img/bg_block-action.jpeg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.action-block__title {
    font-size: 24px;
}
.action-block__description {
    margin-bottom: 40px;
}

/* Конец - Блок призыв к действию*/