/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# My Normalize
# Typography - Include Font
# Mixin
# Top menu
# Home page
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
            # My Normalize
--------------------------------------------------------------*/
* {
    line-height: 1.5;
    box-sizing: border-box;
    color: #3b444b;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    overflow-x: hidden;
}
body {
    background-color: #fff;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img {
    max-width: 100%;
}
figure {
    margin: 0;
}
address {
    font-style: normal;
}
/*--------------------------------------------------------------
            # Typography - Include Font
--------------------------------------------------------------*/
@font-face {
    /*font-family: 'Roboto';*/
    /*font-style: normal;*/
    /*font-weight: 100;*/
    /*src: url(../font/roboto/Roboto-Thin.ttf) format('truetype');*/
}

/*--------------------------------------------------------------
            # Top menu
--------------------------------------------------------------*/
.main-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.logo {
    width: 250px;
    height: 250px;
    position: relative;
    transition-timing-function: cubic-bezier(.83, .06, .22, 1.04);
}
.logo__img {
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------------
            # Mixin
--------------------------------------------------------------*/
/*Начало - для секций, типографика для начала страницы*/
.container {
    width: 100%;
    height: auto;
    padding: 120px 15%;
}
.container__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #55946d;
}
.container__description {
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

/*Конец - для секций, типографика для начала страницы*/

/*Начало - для секций, типографика для подтем*/
.content__title {
    font-size: 50px;
    color: #55946d;
    margin: 0 0 40px 0;
}
.content__title::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #55946d;
    position: relative;
    transform: translateY(0px);
}
.content__sup-title {
    font-size: 14px;
}
.content__text {
    font-size: 16px;
    margin: 0 0 30px 0;
}
/*Конец - для секций, типографика для подтем*/

/* Начало - секция призыв к действию*/
.action-block {
    width: 100%;
    height: auto;
    background-image: url('../img/bg_block-action.jpeg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.action-block__title {
    font-size: 24px;
}
.action-block__description {
    font-size: 16px;
    margin-bottom: 40px;
}
/* Конец - секция призыв к действию*/

/*Начало - карточки*/
.card-wrap {
    display: flex;
    justify-content: space-between;
}
.content__card {
    width: 32%;
    height: 400px;
    background-color: #859fc7;
    padding: 20px 30px;
    position: relative;
}

.content__card-text-wrap {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.content__card-title {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    color: #fff;
    position: relative;
}

.content__card-title::before,
.content__card-title::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.content__card-title::after {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.25);
}

.content__card-text {
    font-size: 14px;
    color: #c1c9d3;
    width: 100%;
    padding: 0 40px 0 0;
}

/*Конец - карточки*/

/* Начало - кнопка*/
.btn-wrapp {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.button {
    padding: 10px 30px;
    background-color: #55946d;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}
/* Конец - кнопка*/

/* Начало - однотонный фон паралакс*/
.bg-parallax {
    display: block;
    width: 120%;
    height: 550px;
    background-color: #efe0dc;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-10%);
    z-index: -1;
}
/* Конец - однотонный фон паралакс*/
/*--------------------------------------------------------------
            # Home page
--------------------------------------------------------------*/
/* Начало - Первый блок со слайдером*/
.head-page-slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.slide-item {
    width: 100%;
    height: 100vh;
}
.slide__content {
    width: 50vw;
    z-index: 2;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.slide__title-page {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.slide__text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.slide {
    width: 115%;
    height: 115vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -5vh;
    left: -5vw;
}
.slide-item:nth-of-type(1) .slide {
    background-image: url('../img/1.jpeg');
    z-index: 1;
}

/* Конец - Первый блок со слайдером*/

/* Начало - Блок Кто мы*/
.who-we-are {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background-color: #fff;
    padding-top: 250px;
    padding-bottom: 80px;
}
.who-we-are .img-container {
    width: 50%;
    height: 550px;
    position: relative;
    z-index: 2;
}
.who-we-are .bg-img--1 {
    width: 100%;
    height: 60%;
    background-image: url('../img/bg_2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.who-we-are .bg-img--2 {
    width: 80%;
    height: 50%;
    background-image: url('../img/bg_1.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 160px;
    right: -40px;
}

.who-we-are .wrap {
    position: relative;
    width: 50%;
    height: auto;
}

.who-we-are .content {
    width: 60%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(35%);
    z-index: 1;
}

/* Конец - Блок Кто мы*/

/* Начало - Блок Что мы делаем*/
.product {
    background-color: #d9d2e5;
    background-image: url('../img/Home.png');
    /*background-repeat: no-repeat;*/
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 10;
}

.product .content__text {
    width: 60%;
}
/* Конец - Блок Что мы делаем*/

/* Начало - Блок Производства*/
.benefit {
    background-color: #fff;
}
.benefit .card-wrap {
    margin-top: 120px;
}

.benefit .content__card {
    height: auto;
    width: 32%;
    padding: 20px 40px 40px 40px;
}

.benefit .content__card-text {
    padding: 0;
}
.benefit .content__card::before {
    content: '01.';
    display: block;
    font-size: 90px;
    font-weight: 900;
    color: #345176;
    position: absolute;
    top: -80px;
    left: 40px;
}

.benefit .content__card:nth-of-type(2)::before {
    content: '02.';
}

.benefit .content__card:nth-of-type(3)::before {
    content: '03.';
}

.benefit .content__card-title {
    font-size: 20px;
    margin: 0 0 15px 0;
    padding-top: 40px;
}

.benefit .content__card-title::before,
.benefit .content__card-title::after {
    display: none;
}

.benefit .content__card-text {
    font-size: 14px;
}

/* Конец - Блок Производства*/

/* Начало - Блок Галереи*/
.menu-gallery {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

/*Левая сторона*/
.menu-gallery .img-slider {
    display: flex;
    width: 50%;
}

.menu-gallery .img-title-wrap {
    width: auto;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-gallery .img-title {
    font-size: 26px;
    line-height: 1;
    cursor: pointer;
    position: relative;
    transition: color .2s linear;
}

.menu-gallery .img-title:hover {
    color: #55946d;
}

.menu-gallery .img-title::after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 2px;
    background-color: #444;
    position: absolute;
    top: calc(50% - 1px);
    right: -105px;
    transform: scale(0);
    transform-origin: left;
    transition: transform .2s linear, background-color .2s linear;
}

.menu-gallery .img-title.active {
    color: #55946d;
}

.menu-gallery .img-title.active::after {
    transform: scale(1);
    background-color: #55946d;
}

.menu-gallery .img-title.active:hover::after {
    transform: scale(1);
    background-color: #55946d;
}

.menu-gallery .img-title:hover::after {
    transform: scale(0.5);
    background-color: #345176;
}

.img-slide-wrap {
    width: 60%;
    height: 400px;
    position: relative;
    top: 50%;
    left: 60%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #345176;
}

.img-slide-group {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.img-slide-group.active {
    opacity: 1;
    background-color: #444;
}

/*Правая сторона*/
.menu-gallery .wrap {
    position: relative;
    width: 50%;
    height: auto;
}

.menu-gallery .content {
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(35%) translateY(-50%);
    z-index: 1;
    opacity: 0;
}

.content.active {
    opacity: 1;
}
/* Конец - Блок Галереи*/

/* Начало - секция контакты*/
.contact-block {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url('../img/bg_contact.jpeg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.contact-block .wrap {
    width: 60%;
    height: 100%;
    position: relative;
    left: 20%;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
    padding: 5% 10%;
}

.contact-block .blur {
    background-image: url('../img/bg_contact.jpeg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: blur(20px);
    position: absolute;
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
}

.contact-block .blur-wrap {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.contact-block .form-group {
    position: relative;
    z-index: 2;
}

.contact-block .content__sup-title,
.contact-block .content__title,
.contact-block .form-group {
    color: #fff;
}

.contact-block .content__title::after {
    background-color: #fff;
}

/*Form*/
form {
    margin: 50px auto 0;
}

input,
textarea {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
}

input:focus,
textarea:focus {
    outline: none;
}

.label-box {
    position: relative;
}

label {
    position: absolute;
    top: -66px;
    font-size: 16px;
    transition: 0.2s ease all;
    pointer-events: none;
}

textarea ~ .label-box label {
    top: -105px;
}

input:focus ~ .label-box label,
input:valid ~ .label-box label,
textarea:focus ~ .label-box label,
textarea:valid ~ .label-box label {
    font-size: 14px;
    transform: translateY(-35px);
    color: #416f9c;
}

.label-box::before,
.label-box::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 40px;
    background-color: #416f9c;
    transition: all 0.3s;
}

textarea ~ .label-box::before,
textarea ~ .label-box::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 47px;
    background-color: #416f9c;
    transition: all 0.3s;
}

.label-box::before {
    left: 50%;
}

.label-box::after {
    right: 50%;
}

input:focus ~ .label-box::before,
input:focus ~ .label-box::after,
textarea:focus ~ .label-box::before,
textarea:focus ~ .label-box::after {
    width: 50%;
}

.contact-block .button {
    background-color: #416f9c;
}

/* Конец - секция контакты*/

/* Начало - секция Подвал*/
body {
    /*padding-bottom: 100px;*/
}

.wrapper-page {
    position: relative;
    /*z-index: 20;*/
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15%;
    height: auto;
    width: 100%;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*z-index: 12;*/
    color: #fff;
    background-color: #416f9c;
    background-image: url(../img/Home.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
}