@media only screen and (max-width : 1316px) {
	.prof-skils__title {
		margin-bottom: 0;
	}
	.prof-skils__list {
		margin-top: 0;
	}
@media only screen and (max-width : 1000px) {
	.section-conteiner {
		display: block;
	}	
	.contact__form {
		margin-left: 20%;
		margin-right: 20%;	
	}
}
@media only screen and (max-width : 750px) {
	.page-head__title-conteiner {
		margin: auto 30px;
		padding-top: 120px;
	}
	.top_mnu ul {
		margin-top: 70px;
	}
	.page-footer {
		padding: 0 40px;
	}
	.toggle_mnu {
		width: 40px;
  	height: 40px;
  	right: 30px;
  	top: 30px;
	}
}
@media only screen and (max-width : 500px) {
	.page-head__title-conteiner {
		margin: auto 30px;
		padding-top: 250px;
	}
	.page-head__title	{			
		font-size: 32px;
	}	
	.top_mnu ul {
		margin-top: 120px;
	}
	.section-conteiner {
		padding: 0 40px;
	}
	.contact__text-name,
	.contact__text-email,
	.contact__text-sms {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.contact__input-name,
	.contact__input-email,
	.contact__textarea {
		font-size: 12px;
		letter-spacing: 1px;
	}
	.copy {
		font-size: 10px;
	}
	.info-social {
		font-size: 22px;
		letter-spacing: 2px;
	}
	.page-footer {
		padding: 0 20px;
	}
}