@font-face {
    font-family: 'Nexa';
    src: url('../libs/font/Nexa-Book_0.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('../libs/font/Nexa-Bold_0.otf');
    font-weight: bold;
    font-style: normal;
}