$colors: (
  txt-blue: #383e5e,
  txt-dark-blue: #2f313c,
  line-gray: #93949a,
  line-gray-light: #ebebef,
  line-gray-blue: #888b9e,
  bg-gray: #f8f8f8,
  bg-dark-blue: #303550,
);




//body {
//  background-color: map-get($colors, bg-gray);
//}
