*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4; }

.i-hotel {
  margin-top: 58px;
  margin-bottom: 118px; }

.title-md {
  font-size: 26px;
  font-weight: bold;
  color: #282828; }

.rating-stars {
  display: inline-block;
  vertical-align: middle;
  height: 22px; }
  .rating-stars__item--full {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }

.link-wrp {
  display: inline-block;
  vertical-align: bottom; }

.hotel-link {
  width: auto;
  font-size: 16px;
  color: #0080ad;
  font-weight: bold;
  line-height: 1;
  vertical-align: bottom; }
  .hotel-link:hover {
    color: #0080ad;
    text-decoration: none;
    opacity: .8; }

.location-text {
  font-size: 16px;
  line-height: 1.4;
  color: #282828; }

.location-map-link {
  font-size: 16px;
  line-height: 1.4;
  color: #282828;
  transition: color .2s linear; }
  .location-map-link:hover {
    color: #0080ad;
    text-decoration: none; }
  .location-map-link:hover .location-map-link__svg path {
    fill: #0080ad; }
  .location-map-link__svg {
    width: auto;
    height: 18px;
    margin-top: -6px; }
    .location-map-link__svg path {
      fill: #282828;
      transition: fill .2s linear; }

.free-wifi {
  font-size: 16px;
  line-height: 1.4;
  color: #282828;
  display: flex;
  align-items: center; }
  .free-wifi::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/wifi.png);
    margin-right: 10px; }

.free-parking {
  font-size: 16px;
  line-height: 1.4;
  color: #282828;
  display: flex;
  align-items: center; }
  .free-parking::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/parking.png);
    margin-right: 10px; }

.first-line {
  font-size: 16px;
  line-height: 1.4;
  color: #282828;
  display: flex;
  align-items: center; }
  .first-line::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/line-1.png);
    margin-right: 10px; }

.favorites, .ask-question, .write-review {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 600;
  color: #282828;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2); }
  .favorites::before, .ask-question::before, .write-review::before {
    content: '';
    display: inline-block;
    margin: 0 auto;
    width: 70px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/heart.png);
    margin-right: 10px; }

.ask-question {
  flex-wrap: wrap; }
  .ask-question::before {
    display: block;
    width: 100%;
    background-image: url(../img/question.png);
    margin-right: 0;
    margin-bottom: 4px; }

.write-review {
  flex-wrap: wrap; }
  .write-review::before {
    display: block;
    width: 100%;
    background-image: url(../img/write-review.png);
    margin-right: 0;
    margin-bottom: 4px; }

.rating-title {
  font-size: 20px;
  color: #282828;
  line-height: 1; }

.show-review {
  font-size: 14px;
  color: #282828;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid #E8E7E6;
  transition: color .2s linear; }
  .show-review:hover {
    color: #0080ad;
    text-decoration: none; }

.rating-gradient-bar {
  width: 200px;
  height: 20px;
  background-color: #cecece;
  border-radius: 10px;
  position: relative;
  overflow: hidden; }
  .rating-gradient-bar::before {
    content: '';
    display: block;
    width: 200px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/rating-gradient-bar.png); }
  .rating-gradient-bar::after {
    content: '';
    display: block;
    width: 200px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: linear-gradient(to right, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0) 9.5%, #fff 9.5%, #fff 10.5%, rgba(250, 250, 250, 0) 10.5%, rgba(250, 250, 250, 0) 19.5%, #fff 19.5%, #fff 20.5%, rgba(250, 250, 250, 0) 20.5%, rgba(250, 250, 250, 0) 29.5%, #fff 29.5%, #fff 30.5%, rgba(250, 250, 250, 0) 30.5%, rgba(250, 250, 250, 0) 39.5%, #fff 39.5%, #fff 40.5%, rgba(250, 250, 250, 0) 40.5%, rgba(250, 250, 250, 0) 49.5%, #fff 49.5%, #fff 50.5%, rgba(250, 250, 250, 0) 50.5%, rgba(250, 250, 250, 0) 59.5%, #fff 59.5%, #fff 60.5%, rgba(250, 250, 250, 0) 60.5%, rgba(250, 250, 250, 0) 69.5%, #fff 69.5%, #fff 70.5%, rgba(250, 250, 250, 0) 70.5%, rgba(250, 250, 250, 0) 79.5%, #fff 79.5%, #fff 80.5%, rgba(250, 250, 250, 0) 80.5%, rgba(250, 250, 250, 0) 89.5%, #fff 89.5%, #fff 90.5%, rgba(250, 250, 250, 0) 90.5%, rgba(250, 250, 250, 0) 100%); }

.rating-value {
  font-size: 16px;
  color: #8f8f8f;
  font-weight: bold; }
  .rating-value__curent {
    font-size: 26px;
    color: #40a700; }

.rating-status {
  width: 100%;
  font-size: 16px;
  color: #40a700; }

.all-ratings {
  font-size: 14px;
  font-weight: 600;
  color: #0080ad;
  width: 100%;
  text-align: right; }

.rating-position__name {
  font-size: 16px;
  line-height: 1;
  color: #0080ad; }

.rating-position__bar {
  width: 180px;
  height: 10px;
  background-color: #e4e4e4;
  border-radius: 10px;
  position: relative;
  overflow: hidden; }
  .rating-position__bar::before {
    content: '';
    display: block;
    width: 180px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #40a700; }

.rating-position__value {
  font-size: 16px;
  line-height: 1;
  color: #8f8f8f; }
  .rating-position__value-current {
    color: #282828; }

.choose-data {
  font-size: 16px;
  line-height: 1.4;
  color: #282828; }

.data-input-fields {
  border: 1px solid #cecece;
  padding: 10px;
  border-radius: 2px; }

.data-input {
  border: none;
  color: #cecece;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  width: calc(100% - 24px); }

.data-input-field {
  display: flex;
  align-items: center; }
  .data-input-field::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    background-position: center left;
    background-image: url(../img/calendar.png); }

.border-block.nice-select {
  padding: 0 30px 0 8px; }

.list.show-list {
  opacity: 1; }

.tour-title,
.tour-pricing {
  font-size: 24px;
  color: #282828;
  font-weight: bold; }

/*slider*/
.sliders-wrap {
  display: flex; }

.big-slider {
  height: 504px;
  width: calc(100% - 78px);
  margin-right: 20px; }
  .big-slider img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px; }
  .big-slider .prev-slide,
  .big-slider .next-slide {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/left-arrow-angle.svg);
    position: absolute;
    z-index: 1;
    cursor: pointer; }
  .big-slider .next-slide {
    right: 20px;
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg); }
  .big-slider .prev-slide {
    left: 20px; }

.slider-preview {
  width: 78px;
  height: 504px;
  margin-right: -10px;
  margin-left: -10px;
  position: relative; }
  .slider-preview img {
    width: 78px;
    height: 78px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover; }
    .slider-preview img:nth-of-type(1) {
      margin-top: 0; }
  .slider-preview .slick-slide {
    height: 75px;
    width: 84px;
    margin: 5px 0; }
  .slider-preview .slick-track img:last-child {
    margin-bottom: 0; }
  .slider-preview .slick-list {
    height: 504px !important;
    width: 78px; }
  .slider-preview .slick-current {
    position: relative; }
  .slider-preview .slideT:nth-of-type(8) {
    margin-bottom: 0; }
  .slider-preview .prev-slide {
    display: block;
    width: 78px;
    height: 79px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1; }
    .slider-preview .prev-slide::before {
      content: '';
      display: block;
      -webkit-transform: rotate(90deg) scale(0.6);
              transform: rotate(90deg) scale(0.6);
      width: 36px;
      height: 36px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../img/left-arrow-angle.svg);
      position: absolute;
      z-index: 1;
      cursor: pointer;
      top: 22px;
      left: 20px; }
  .slider-preview .slick-track .slick-active:last-child {
    position: relative; }
  .slider-preview .next-slide {
    display: block;
    width: 78px;
    height: 75px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 1; }
    .slider-preview .next-slide::before {
      content: '';
      display: block;
      -webkit-transform: rotate(270deg) scale(0.6);
              transform: rotate(270deg) scale(0.6);
      width: 36px;
      height: 36px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../img/left-arrow-angle.svg);
      position: absolute;
      z-index: 1;
      cursor: pointer;
      top: 22px;
      left: 20px; }
  .slider-preview .slick-arrow.slick-disabled {
    pointer-events: auto;
    opacity: 1; }

.slick-list,
.slick-track {
  width: 100%;
  height: 100%; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.card-shadow {
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2); }

.border-block {
  border: 1px solid #cecece;
  padding: 10px;
  border-radius: 2px; }
