$color-blue: #0080ad;
$color-orange: #ff6e00;
$color-black: #282828;
$color-gray: #cecece;
$color-gray-light: #8f8f8f;
$color-gray-lighter: #e4e4e4;
$color-green: #40a700;


@mixin primary-text {
  font-size:16px;
  line-height:1.4;
  color: $color-black;
}

@mixin bg-icon {
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
}

@mixin shadow-block {
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2);
}

@mixin border-block {
  border: 1px solid $color-gray;
  padding: 10px;
  border-radius: 2px;
}

@mixin card-title {
  font-size: 20px;
  color: $color-black;
  line-height:1;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}


//@import "normalize";
@import "typography";
@import "my-style";

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.card-shadow {
  @include shadow-block;
}

.border-block {
  @include border-block;
}







